

    <div class="alert alert-dismissible alert-info">
        <h5>
            <span class="oi oi-clock"></span>
            @Message
        </h5>
    </div>

@code {
    [Parameter]
    public string Message { get; set; }
}
