@inherits LayoutComponentBase

<BlazoredToasts />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>
    <div class="content px-4 mt-6">
        <div class="card">
            <div class="card-body">
                @Body
            </div>
        </div>
    </div>

</div>
