@page "/"


<h1 class="card-title">BookStore-API</h1>
<p class="card-body">
    ASP.NET Core 3.1 Book Store Web API for educational purposes.
    By doing this course, you would have:
    <ul>
        <li>Build a fully data driven REST Web API with Core 3.1 using cutting edge technology</li>
        <li>Connect to a Database using Entity Framework Core</li>
        <li>Repository Pattern and Dependency Injection</li>
        <li>Setup Logging using NLog</li>
        <li>Understand the REST design principles</li>
        <li>Understand C# and .Net Core Web Syntax</li>
        <li>Understand user Authentication using JWT (JSON Web Tokens)</li>
        <li>Understand how to use Models, DTOs and AutoMapper</li>
        <li>Manage Packages with NuGet Manager</li>
        <li>Setup GitHub for Source Control</li>
        <li>Setup a Microsoft Azure Account</li>
        <li>Build Web Application to interact with Web API</li>
        <li>Deploy API and Database to Azure Web and Database Services</li>
    </ul>
    Website: <a href="http://bit.ly/2ux9hcn">Trevoir Williams | Blog</a>
</p>





