<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BookStore-UI</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link">
                        <span class="oi oi-person" aria-hidden="true"></span> @context.User.Identity.Name
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="logout">
                        <span class="oi oi-arrow-circle-left" aria-hidden="true"></span> Log Out
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="register">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Register
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="authors/">
                <span class="oi oi-plus" aria-hidden="true"></span> Authors
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="books/">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Books
            </NavLink>
        </li>
        <AuthorizeView Roles="Administrator">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="books">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> ADMIN LINK
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Customer">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="books">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> CUSTOMER LINK
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
