<h3>RedirectToLogin</h3>

@code {
    [Inject]
    protected NavigationManager NavigationManager { get; set; }

    protected override void OnInitialized()
    {
        NavigationManager.NavigateTo("login");
    }
}
